body {
    font-family: $base-font;
    font-weight: 400;
    color: $base-text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// HEADINGS
h1,
h2,
h3 {
    margin: 0;
    font-family: $heading-font;
    font-size: $base-font-size;
    font-weight: 400;
}

h2,
h3 {
    text-align: center;
}

h2 {
    margin: $base-line-height 0 $large-line-height;
    font-size: ts(3);
}

h3 {
    margin: $base-line-height 0 $base-line-height;
    font-size: ts(2);
}
