body {
    font-family: $base-font;
    font-weight: 400;
    color: $base-text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// HEADINGS
h1,
h2,
h3 {
    margin: 0;
    color: white;
    font-family: $heading-font;
    font-size: $base-font-size;
    font-weight: 400;
}

h1 {
    margin-bottom: $large-line-height;
    font-size: ts(2);
}